.todo_item{
    width: 100%;
    height: 51px;
    display: flex;
    align-items: center;
    padding: 0 17px;
    border-bottom: 1px solid #393a4c;
}

.todo_item:nth-child(odd){
    animation: animateOddItems .5s ease-out forwards;
}

@keyframes animateOddItems {
    from{opacity: 0;transform: translateX(-500px);}
    to{opacity: 1;transform: translate(0);}
}

.todo_item:nth-child(even){
    animation: animateEvenItems .5s ease-out forwards;
}

@keyframes animateEvenItems {
    from{opacity: 0;transform: translateX(500px);}
    to{opacity: 1;transform: translate(0);}
}

.todo_text{
    margin-left: 15px;
    font-size: .9rem;
    color: #cacde8;
    display: inline;
    position: relative;
}

.todo_text.completed{
    color: #4d5066;
}

.todo_text.completed::after{
    content: ' ';
    height: 1px;
    width: 0;
    background-color: #4d5066;
    position: absolute;
    left: 0;
    top: 50%;
    animation: lineThrough .5s ease-out forwards;
}

@keyframes lineThrough {
    from{
        width: 0;
        background-color: #ffffff;
    }

    to{
        width: 100%;
        background-color: #4d5066;
    }
}

.delete{
    position: absolute;
    right: 17px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    display: none;
}

.todo_item:hover .delete{
    display: block;
}

.delete img{
    width: 16px;
}