.todo_list{
    width: 89%;
    max-width: 420px;
    margin: auto;
    background-color: hsl(235, 24%, 19%);
    box-shadow: 0 2px 10px #161722;
    border-radius: 5px;
    transform: translateY(-45px);
}

.todo_list ul{
    width: 100%;
}
