.todo_list{
    width: 90%;
    max-width: 424px;
    margin: auto;
    background-color: hsl(235, 24%, 19%);
    box-shadow: 0 2px 10px #161722;
    border-radius: 5px;
    transform: translateY(-45px);
}

.todo_list ul{
    width: 100%;
}

/* @media (min-height:600px) {
    .todo_list{
        transform: translateY(-45px);   
    }
} */