.input_group{
    height: 51px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: hsl(235, 24%, 19%);
    padding: 0 17px;
    margin-top: 30px;
    border-radius: 4px;
    box-shadow: 0 1px 10px #3c4058;
}

.input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    margin-left: 15px;
    background-color: inherit;
    color: #9394a5;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    padding-top: 3px;
}

.input:hover,
.input:active{
    outline: none;
}

.circle{
    width: 22px;
    height: 20px;
    border-radius: 50%;
    border: solid 1px #393a4c;
}