@font-face {
  font-family: "Josefin Sans";
  src: url("./assets/fonts/JosefinSans-Regular.ttf") format("truetype");
  font-weight: 400;
}


@font-face {
  font-family: "Josefin Sans";
  src: url("./assets/fonts/JosefinSans-Bold.ttf") format("truetype");
  font-weight: 700;
}

*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

body {
  font-family: "Josefin Sans";
  font-size: 18px;
  color: aliceblue;
  overflow-x: hidden;
  background-color: #161722;
}

